.main_login_div {
  height: 100vh;
  background-color: grey;
  overflow: auto;
}

.login_frame {
  margin-top: 30px;
}

.co_card {
  height: 76vh;
}

.image {
  width: 800px;
  height: 605px;
}

.login_text {
  text-align: center;
  font-weight: 900;
  font-style: italic;
  font-family: sans-serif;
}

.signin_text {
  text-align: center;
  font-weight: 900;
  font-family: sans-serif;
}

.button {
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .image {
    display: none;
  }
}
