.main_hero_payments{
    background-color: steelblue;
    height: 100vh;
    overflow: auto;
}

.payment_card{
    height: 40vh;
    margin-top: 120px;
    margin-left: 100px;
    border-radius: 2ch;
    width: 500px;

}

.payment_label{
    text-align: center;
    margin-top: 40px;
}

.input{
    width: 180px;
}

.axis{
    font-size: 10px;
    font-weight: 900;
    margin-left: -75px;
    margin-top: 20px;
}

.buttonP{
    margin-top: 60px;
    width: 100px;
    margin-right: -100px;
}

.lock{
    width: 500px;
}