.main_signup_div{
    height: 100vh;
    background-color: grey;
    overflow: auto;
   
   
}

.signup_frame{
    margin-top: 30px;
}

.co_cardS{
    height: 76vh; 
}

.imageS{
    width: 700px;
    height: 605px;
    
}

.signup_text{
    text-align: center;
    font-weight: 900;
    font-style: italic;
    font-family: sans-serif;
}

.register_text{
    text-align: center;
    font-weight: 900;
    font-family: sans-serif;
}

.buttonS{
   width: 100px;
}

@media only screen and (max-width: 600px) {
    .imageS{
       display: none;
        
    }
  }

   @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
{
    .co_cardS{
        height: 44.2vh; 
    }
   
}
 